@import url(https://fonts.googleapis.com/css?family=Raleway:300);
 @import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
 .align-center {
	 text-align: center;
}
 html {
	 height: 100%;
}
 body {
	 height: 100%;
	 position: relative;
	 overflow-x: hidden ;
}

.width-container{
    padding: 3vh;
}

::-webkit-scrollbar {
    width: .625rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 100);
	border-radius: 80px;
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 100);
	border-radius: 80px;
}

 .row {
	 margin: -20px 0;
}
 .row:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .row .col {
	 padding: 0 20px;
	 float: left;
	 box-sizing: border-box;
}
 .row .col.x-50 {
	 width: 50%;
}
 .row .col.x-100 {
	 width: 100%;
}
 .content-wrapper {

	 position: relative;
}
 .get-in-touch {
	 max-width: 650px;
	 margin: 0 auto;
	 position: relative;
	 top: 45%;
	 transform: translateY(-50%);
}
 .get-in-touch .title {
	 text-align: center;
	 font-family: Raleway, sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 font-size: 36px;
	 line-height: 48px;
	 padding-bottom: 48px;
}
 .contact-form .form-field {
	 background-color: transparent;
	 position: relative;
	 margin: 32px 0;
}
 .contact-form .input-text {
	 background-color: transparent;
	 display: block;
	 width: 100%;
	 height: 36px;
	 border-width: 0 0 2px 0;
	 border-color: #000;
	 font-family: Lusitana, serif;
	 font-size: 18px;
	 line-height: 26px;
	 font-weight: 400;
}
 .contact-form .input-text:focus {
	 outline: none;
}
 .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
	 transform: translateY(-24px);
}
 .contact-form .label {
	 position: absolute;
	 left: 20px;
	 bottom: 11px;
	 font-family: Lusitana, serif;
	 font-size: 18px;
	 line-height: 26px;
	 font-weight: 400;
	 color: rgb(231, 231, 231);
	 opacity: 60%;
	 cursor: text;
	 transition: transform 0.2s ease-in-out;
}
 .contact-form .submit-btn {
	 display: inline-block;
	 background-color: #000;
	 color: #fff;
	 font-family: Raleway, sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-size: 16px;
	 line-height: 24px;
	 padding: 8px 16px;
	 border: none;
	 cursor: pointer;
}
 .note {
	 position: absolute;
	 left: 0;
	 bottom: 10px;
	 width: 100%;
	 text-align: center;
	 font-family: Lusitana, serif;
	 font-size: 16px;
	 line-height: 21px;
}
 .note .link {
	 color: #888;
	 text-decoration: none;
}
 .note .link:hover {
	 text-decoration: underline;
}
 
/* grid */
main {

	display: flex;
	display: -webkit-flex;
  }
  .logo-idea-bg {
	filter: brightness(.8);
	  margin-left: 10px;
	width: 44%;

  }
  .logo-idea-bg:hover {
	filter: none;
	  
  }
  .logo-section {
	
	width: 56%;
	min-height: calc(100vh - 30px);
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
  }
  .logo-container {
	text-align: center;
  }
  .logo-block {
	margin-bottom: 60px;
	position: relative;
	display: inline-block;
  }
  .logo-block .logo-circle {
	width: 160px;
	height: 160px;
	border: 16px solid #fff;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	border-radius: 50%;
	border-right-color: transparent;
	border-top-color: transparent;
	position: relative;
  }
  .logo-block .circle-inner {
	width: 100%;
	height: 100%;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	border-radius: 50%;
	background: -moz-linear-gradient(
	  top,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 0) 49.6%,
	  rgba(255, 255, 255, 1) 49.8%,
	  rgba(255, 255, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
	  top,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 0) 49.6%,
	  rgba(255, 255, 255, 1) 49.8%,
	  rgba(255, 255, 255, 1) 100%
	);
	background: linear-gradient(
	  to bottom,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 0) 49.6%,
	  rgba(255, 255, 255, 1) 49.8%,
	  rgba(255, 255, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }
  .logo-block::after,
  .logo-block::before {
	content: "";
	display: block;
	position: absolute;
	background: #fff;
	left: 44%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
  }
  .logo-block::after {
	height: 30px;
	width: 8px;
	bottom: -28px;
  }
  .logo-block::before {
	height: 10px;
	width: 60px;
	bottom: -34px;
  }
  .title {
	margin-top: -40px;
	padding: 40px 20px 20px;
	text-align: center;
	border-radius: 4em;
	color: #fff;
	text-transform: uppercase;
  }
  
  @media (max-width: 767px) {
	h1 {
	  margin-left: 10px;
	  font-size: 24px;
	  line-height: 36px;
	  letter-spacing: 12px;
	}
	main {
	  flex-direction: column;
	  -webkit-flex-direction: column;
	}
	.logo-idea-bg {
	  width: 95%;
	  height: 320px;
	}
	.logo-section {
		margin-top: 100%;
	  padding: 5px 10px;
	  width: calc(100% - 20px);
	 
	}
  }
  
  .datacontent{
	  position: fixed;
	  align-items: center;
	  background-color: black;
	  color: white;
	  font-family: Raleway, sans-serif;
	  line-height:18px;
	  padding: 5px 25px 5px 25px;
	  font-size: 2vh;
	  width: 15%;
	  height: 35%;

	  left: 20px;
	  bottom: 35px;
  }

  @media screen and (max-width: 1030px) {
	.datacontent{
	 display: none;
	  }
  }