body .footer {
    --footer-background: black;
}
body .footer .bubbles {
    position: relative;
    bottom:-200px;
    width: 93%;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}
body .footer .bubbles .bubble {
    position: fixed;
    left: var(--position, 90%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    
}

.negro{
    position: fixed;
    z-index: 1000;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 100px;
}
body .footer .content {
    z-index: 2;
    display: grid;
    background: var(--footer-background);
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 100vh);
        height: var(--size, 4rem);
   }
    100% {
        width: 0rem;
        height: 0rem;
   }
}
@keyframes bubble-move {
    0% {
        bottom: -1rem;
   }
    100% {
        bottom: var(--distance, 1rem);
   }
}
