.logo_emi{
  position: fixed;
  z-index: 200;
  width: 60px;
  height: 35px;
  left: 5vw;
  top: 35px;
  
  cursor: pointer;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}


.navigation {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

li{
  list-style:none;
  font-family: 'Hind Madurai', sans-serif;
  letter-spacing: 2pt;
  font-weight: 900;
}
.navigation__menu-input {
  display: none;
}
.navigation__menu-label {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  right: 5vw;
  z-index: 3000;
}
.navigation__menu-label .navigation__label-bar {
 
  height: 5px;
  width: 50px;
  position: relative;
  transition: all 0.3s ease;
  background-color: white;
}
.navigation__menu-list {
  position: fixed;
  right: 100vw;
  top: -10vh;
  bottom: 0;
  width: 100vw;
  height: 110vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.navigation__menu-input:checked ~ .navigation__menu-label .navigation__label-bar {
  background-color: #fff;
}
.navigation__menu-input:checked ~ .navigation__menu-label .navigation__label-bar1 {
  top: 10px;
  transform: rotate(45deg);
}
.navigation__menu-input:checked ~ .navigation__menu-label .navigation__label-bar2 {
  opacity: 0;
  visibility: hidden;
}
.navigation__menu-input:checked ~ .navigation__menu-label .navigation__label-bar3 {
  bottom: 10.85px;
  transform: rotate(-45deg);
}
.navigation__menu-input:checked ~ .navigation__menu-list {
  right: 0;
  background: url("../RECURSOS/IMG/Fondo.jpg");
}
.navigation__item-anchor {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  margin: 25px 0;
}
.navigation__item-anchor:link, .navigation__item-anchor:visited {
  color: #fff;
}
.navigation__item-anchor:hover:link, .navigation__item-anchor:hover:visited {
  color: #d8d8d8;
}


  .line_redes{
    position: fixed;
    z-index: 100;
    height: 15%;
    width: 5px;
    left: 5.5%;
    bottom: 0px;

    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  .logo_facebook{
    position: absolute;
    z-index: 100;
    width: 26px;
    height: 27px;
    left: 4.7vw;
    bottom: 17%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  .logo_instagram{
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    left: 5vw;
    bottom: 22%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      }

  .logo_twitter{
    position: absolute;
    z-index: 100;
    width: 18px;
    height: 16px;
    left: 5vw;
    bottom: 27%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  .logo_link{
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 19px;
    left: 5vw;
    bottom: 32%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

.en{
  color: rgb(255, 255, 255);
  font-family: 'Hind Madurai', sans-serif;
}
.es{
  color: #c587d4;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 900;
}
.check{
  position: relative;
  width: 50px;
}
.check:before{
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background: #333;
  border-radius: 25px;
}

.check::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}

.check:checked:after{
  left: 25px;
  border: 2px solid #c587d4;
}

.check:checked:before{
  background: #c587d4;
}

.back-arrow {
  position: fixed;
  top: 120px;
  left: 40px;
  display: block;
  width: 64px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  overflow: hidden;
  color: #fff;
  z-index: 300;
}

.scrollDown {
    position: fixed;
    font-size: 1.4rem;
    left: 40px;
    line-height: 1;
    letter-spacing: 0.3em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #fff;
    z-index: 100;
}

.scrollDown:after {
  content: "";
  width: 2px;
  height: 64px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  
}