
  
  /* CONTENT */
html{
  scroll-behavior: smooth;
}
  body{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  * {
    box-sizing: border-box;
 }
 
 ::-webkit-scrollbar {
  width: .625rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 100);
  border-radius: 80px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 100);
  border-radius: 80px;
}

  .cover {
    position: fixed;
    top: 0;
    bottom:0;

    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
   
    color: #fff;
    
    padding: 2em;
 }
  .cover__content {
    max-width: 1000px;
    margin: 0 auto;
 }
  .top-section {
    background-color: #fff;
    color: black;
    padding: 3em;
    margin-bottom: 4em;
 }
  .top-section__content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
 }
  .top-section .content-preview {
    flex: 0 1 230px;
 }
  @media screen and (max-width: 520px) {
    .top-section .content-preview {
      flex-grow: 1;
   }
 }
  .logo {
    display: none;
 }
  .title {
    display: flex;
    align-items: last baseline;
    margin-bottom: 2em;
    flex-wrap: wrap;
 }
  .title__text {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3em;
    flex-grow: 1;
    letter-spacing: 0.025em;
    margin-bottom: 0.33em;
 }
  @media screen and (min-width: 520px) {
    .title__text {
      font-size: 4em;
   }
 }
  @media screen and (min-width: 700px) {
    .title__text {
      font-size: 6em;
   }
 }
  .title__details {
    font-weight: 400;
 }
  .title a {
    color: inherit;
    text-decoration: inherit;
 }
  .title a:hover {
    color: #fbd5b0;
 }
  .content-preview {
    padding: 0.5em;
    justify-self: start;
 }
  @media screen and (min-width: 700px) {
    .content-preview--left {
      text-align: right;
      justify-self: end;
   }
 }
  .content-preview__cat, .content-preview__title {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
 }
  .content-preview__cat {
    text-decoration: underline;
    margin-bottom: 0.25em;
 }
  .content-preview__title {
    font-weight: 700;
    margin-bottom: 0.5em;
 }
  .content-preview__excerpt {
    font-weight: 300;
 }
  .lower-section {
    margin: 0 1em;
    grid-template-columns: 10% 2fr 10px 2fr 10%;
    grid-auto-flow: row dense;
 }
  @media screen and (min-width: 700px) {
    .lower-section {
      display: grid;
      margin-top: 8em;
   }
 }
  .lower-section .content-preview {
    max-width: 240px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
 }
  .lower-section .content-preview--top {
    margin-top: 2em;
 }
  .lower-section .content-preview--bottom {
    margin-bottom: 2.5em;
 }
  .headline {
    grid-row: 2;
    grid-column: -1;
    display: flex;
 }
  .boxed-headline {
    text-align: center;
    padding: 1em;
    border: 1px solid #fff;
    position: relative;
    flex: 1 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: 1.3;
    font-size: 1.2em;
    font-weight: 900;
    max-width: 100%;
 }
  .boxed-headline:before {
    content: "";
    position: absolute;
    border: inherit;
    left: 0.5em;
    right: 0.5em;
    top: -0.5em;
    bottom: -0.5em;
 }
  .line {
    position: relative;
 }
  @media screen and (max-width: 520px) {
    .line {
      display: none;
   }
 }
  .line:before {
    content: '';
    height: 0.8em;
    width: 0.8em;
    background: #fff;
    display: block;
    position: absolute;
 }
  .line:after {
    content: '';
    border-color: #fff;
    position: absolute;
    display: block;
 }
  .line--vertical {
    grid-column: 3;
    display: none;
 }
  @media screen and (min-width: 700px) {
    .line--vertical {
      display: block;
   }
 }
  .line--vertical:after {
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid;
 }
  .line--vertical:before {
    left: 50%;
    transform: translateX(-50%);
 }
  .line--bottom:before {
    bottom: 0;
 }
  .line--horizontal {
    flex: 1 0 30px;
 }
  .line--horizontal:after {
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid;
 }
  .line--horizontal:before {
    top: 50%;
    transform: translateY(-50%);
 }
  .line--right:before {
    right: 0;
 }
  
 
.black_arrow{
  position: fixed;
    top: 120px;
    left: 40px;
    display: block;
    width: 64px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: hidden;
    color: #fff;
    z-index: 99;
}

.scrollDown {
  position: fixed;
  font-size: 1.4rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #fff;
  z-index: 100;
}

.scrollDown:after {
  content: "";
  width: 2px;
  height: 64px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -80px;
}

/* person */
.personas_container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}
.person {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.container {
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container:after {
  content: "";
  height: 10px;
  position: absolute;

  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
 
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: -12px;
  top: 164px;
  width: 444px;
}
.img2 {
  left: -12px;
  top: 164px;
  width: 444px;
}
.img3 {
  left: -25px;
  top: 164px;
  width: 444px;
}
.img4 {
  left: -25px;
  top: 164px;
  width: 444px;
}
.divider {
  background-color: #ca6060;
  height: 2px;
  width: 160px;
  margin-left: 90px;
}
.name {
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-left: 90px;
  
  text-align: center;
}
.title_person {
  color: white;
  font-family: arial;
  font-size: 14px;
  font-style: italic;

  text-align: center;
  
}
@media screen and (max-width: 1024px) {
  .team, .scrollDown, .scrollDown:after{
  display:none;
  }
  }


 
  .skills {
    width: 80%;
    max-width: 960px;
    height: 780px;
    height: 880px;
    margin: auto;
    position: relative;
 }
  .lines {
    height: 100%;
    position: relative;
 }
  .line_chart {
    height: inherit;
    width: 2px;
    position: absolute;
    background: rgba(238, 238, 238, 0.6);
 }
  .line_chart.l--0 {
    left: 0;
 }
  .line_chart.l--25 {
    left: 25%;
 }
  .line_chart.l--50 {
    left: 50%;
 }
  .line_chart.l--75 {
    left: 75%;
 }
  .line_chart.l--100 {
    left: calc(100% - 1px);
 }
  .line__label {
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: -50px;
 }
  .line__label.title {
    text-transform: uppercase;
    font-weight: bold;
 }
  .charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
 }
  .chart:not(:first-child) {
    margin-top: 10px;
 }
  .chart__title {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
 }
  .chart--prod .chart__title {
    animation-delay: 3.3s;
 }
  .chart--design .chart__title {
    animation-delay: 4.5s;
 }
  .chart--horiz {
    overflow: hidden;
 }
  .chart__bar {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
 }
  .chart--dev .chart__bar:nth-of-type(11) {
    animation-delay: 2.7s;
 }
  .chart--dev .chart__bar:nth-of-type(10) {
    animation-delay: 2.5s;
 }
  .chart--dev .chart__bar:nth-of-type(9) {
    animation-delay: 2.3s;
 }
  .chart--dev .chart__bar:nth-of-type(8) {
    animation-delay: 2.1s;
 }
  .chart--dev .chart__bar:nth-of-type(7) {
    animation-delay: 1.9s;
 }
  .chart--dev .chart__bar:nth-of-type(6) {
    animation-delay: 1.7s;
 }
  .chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s;
 }
  .chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s;
 }
  .chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s;
 }
  .chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s;
 }
  .chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s;
 }
  .chart--prod .chart__bar:nth-of-type(2) {
    animation-delay: 4.2s;
 }
  .chart--prod .chart__bar:nth-of-type(1) {
    animation-delay: 4s;
 }
  .chart--design .chart__bar:nth-of-type(4) {
    animation-delay: 5.8s;
 }
  .chart--design .chart__bar:nth-of-type(3) {
    animation-delay: 5.6s;
 }
  .chart--design .chart__bar:nth-of-type(2) {
    animation-delay: 5.4s;
 }
  .chart--design .chart__bar:nth-of-type(1) {
    animation-delay: 5.2s;
 }
  .chart__label {
    padding-left: 10px;
    line-height: 30px;
    color: white;
 }
  @keyframes anim-lightspeed-in {
    0% {
      transform: translateX(-200%);
      opacity: 1;
   }
    100% {
      transform: translateX(0);
      opacity: 1;
   }
 }