
 * {
    outline: none;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%;
}
body {
    /* background: url("../../RECURSOS/IMG/Fondo.jpg"); */
    background-color: black;
    background-size: cover;
    display: flex;
    font-family: "Heebo", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    height: 100vh;
}
@media screen and (max-width: 768px) {
    body {
        padding: 0;
   }
}
.blog {
    background-color: white;
    max-width: 100%;
    display: grid;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    grid-template-columns: 2% 0% 95% 4%;
    grid-template-rows: 100%;
    width: 100%;
    padding: 0px 4px;
    position: relative;

}
@media screen and (max-width: 1030px) {
    .blog {
        grid-template-columns: 20% 50% 30%;
   }
}
@media screen and (max-width: 768px) {
    .blog {
        grid-template-columns: 25% 75%;
        width: 100%;
        max-width: none;
   }
}
@media screen and (max-width: 560px) {
    .blog {
        grid-template-columns: 100%;
   }
}
.blog-part {
    padding: 0 20px;
}
.blog-part:not(:last-child) {
    border-right: 1px solid #94918f;
}

.blog-big__title {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 9vw;
    line-height: 1;
    margin-bottom: 6px;

}
@media screen and (max-width: 1400px) {
    .blog-big__title {
        font-size: 9vw;
   }
}
@media screen and (max-width: 1260px) {
    .blog-big__title {
        font-size: 9vw;
        letter-spacing: -2px;
   }
}
@media screen and (max-width: 560px) {
    .blog-big__title {
        font-size: 20vw;
        margin-bottom: 12px;
   }
}
.blog-header {
    display: flex;
    flex-direction: column;
}
.blog-article {
    padding: 0 20px;
}
.blog-article img {
    max-height: 100vh;
    width: 70%;
    object-fit: cover;
    /* filter: grayscale(1); */
}

.blog-article .trabajo_emi {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    /* filter: grayscale(1); */
}
.page-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    font-size: 72px;
    text-align: center;
    letter-spacing: -3px;
    font-weight: lighter;
    font-family: "Space Grotesk", sans-serif;
    border-right: 1px solid #94918f;
    white-space: nowrap;
}
@media screen and (max-width: 1260px) {
    .page-number {
        font-size: 5vw;
   }
}
.small-title {
    border-bottom: 1px solid #94918f;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 560px) {
    .small-title {
        visibility: hidden;
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 24px;
        border-bottom: 0;
   }
}
.date {
    display: flex;
    justify-content: flex-end;
}
.blog-article h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    margin: 8px 0 8px;
}
.blog-article h2 span {
    font-family: "Playfair Display", serif;
}
.blog-article p {
    line-height: 1.5;
    margin: 14px 0;
}
.blog-article a {
    color: #161419;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid #94918f;
    padding-top: 14px;
}
.blog-article a svg {
    width: 26px;
    margin-right: 10px;
}
.blog-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.blog-detail span {
    font-family: "Playfair Display", serif;
}
.blog-header-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    border-right: 1px solid #94918f;
}
@media screen and (max-width: 768px) {
    .blog-header-container {
        border-right: 0;
   }
}
.blog-header-container > * {
    flex-shrink: 0;
    min-height: 100%;
    scroll-snap-align: start;
}
.blog-header-container .blog-article:not(.header-article) {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
marquee {
    font-size: 20px;
    background-color: #121418;
    color: #e9e6e4;
    padding: 6px 0;
    width: calc(100% + 44px);
    margin-left: -20px;
    flex-shrink: 0;
}
marquee span:before {
    display: inline-block;
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: relative;
    top: -1px;
    vertical-align: baseline;
    background-color: #e9e6e4;
    margin: 0 16px;
}
.blog-right {
    overflow: auto;
    height: calc(100% + 60px);
}
.blog-right .rounded {
    font-style: italic;
    font-size: 18px;
}
.blog-right .rounded:before {
    content: "";
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #000;
    margin-right: 6px;
}
.blog-right-title {
    font-size: 25px;
    font-family: "Playfair Display", serif;
}
.blog-right-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #94918f;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    letter-spacing: -1px;
}
@media screen and (max-width: 1400px) {
    .blog-right-title-container {
        margin-top: 88px;
   }
}
@media screen and (max-width: 1260px) {
    .blog-right-title-container {
        margin-top: 6vw;
   }
}
@media screen and (max-width: 1030px) {
    .blog-right-title-container {
        margin-top: 5vw;
   }
}
.blog-title-date {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.blog-right-page {
    font-size: 56px;
    margin-bottom: 16px;
    font-family: "Space Grotesk", sans-serif;
}
.blog-right-page-title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 28px;
    font-weight: 600;
    max-width: 16ch;
    letter-spacing: -2px;
}
.blog-right-page-subtitle {
    max-width: 33ch;
    font-size: 15px;
    margin-top: 12px;
    line-height: 1.4;
}
.blog-right-container + .blog-right-container {
    margin-top: 40px;
}
.right-blog {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .right-blog {
        display: none;
   }
}
@media screen and (max-width: 1030px) {
    .right-blog .blog-menu {
        display: none;
   }
}
::-webkit-scrollbar {
    display: none;
}
.circle {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #121418;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #e9e6e4;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
.circle-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    font-family: "Space Grotesk", sans-serif;
}
@media screen and (max-width: 1030px) {
    .circle-title {
        display: none;
   }
}
.circle-subtitle {
    max-width: 30ch;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 16px;
}
.circle-footer {
    font-family: "Playfair Display", serif;
    font-size: 30px;
}
@media screen and (max-width: 560px) {
    .blog-is-sticky {
        display: none;
   }
}

 
.glass{
   background: rgba( 255, 255, 255, 0.10 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 3.5px );
   -webkit-backdrop-filter: blur( 3.5px );
   border-radius: 10px;
   margin: 10px;
   padding: 20px;
}
 .container_person {
   border-radius: 50%;
   height: 312px;
   -webkit-tap-highlight-color: transparent;
   transform: scale(0.48);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   width: 400px;
 }
 .container_person:after {
   content: "";
   height: 10px;
   position: absolute;
   top: 10px;
   width: 100%;
 }
 .container_person:hover {
   transform: scale(0.54);
 }
 .container-inner {
   clip-path: path(
     "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
   );
   position: relative;
   transform-origin: 50%;
   top: -200px;
 }
 .circle_person {
   background-color: #fee7d3;
   border-radius: 50%;
   cursor: pointer;
   height: 380px;
   left: 10px;
   pointer-events: none;
   position: absolute;
   top: 210px;
   width: 380px;
 }
 .img_person {
   pointer-events: none;
   position: relative;
   transform: translateY(20px) scale(1.15);
   transform-origin: 50% bottom;
   transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .container_person:hover .img {
   transform: translateY(0) scale(1.2);
 }
 .img1 {
   left: 10px;
   top: 200px;
   width: 444px;
 }
 .img2 {
   left: 10px;
   top: 200px;
   width: 444px;
 }
 .img3 {
   left: 10px;
   top: 200px;
   width: 444px;
 }
 .img4 {
   left: 10px;
   top: 200px;
   width: 444px;
 }
 .name {
   color: #404245;
   font-size: 66px;
   font-weight: 600;
   margin-top: 16px;
   text-align: center;
 }
 .title {
   color: #6e6e6e;
   font-family: arial;
   font-size: 30px;
   font-style: italic;
   margin-top: 4px;
   text-align: center;
 }
 
 @keyframes bottom-content{
   0% { transform: translateY(600px); }
   100% { transform: translateY(0); }
 }

 @keyframes top-content{
   0% { transform: translateY(-600px); }
   100% { transform: translateY(0); }
 }


@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: black;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    overflow: hidden;
    position: relative;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #e9e6e4 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 50px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
}
.frow {
    clear:both;
	  padding:10px;
}

.frow .col {
	display: block;
	float:left;


  padding:2%;
}


  .col:first-child { margin-left: 0; }

  .frow .col2 {
    width: 40%;
    text-align: left;
    
      }

  
  
  @media only screen and (max-width: 480px) {
      .col {  margin: 1% 0 1% 0%;  margin-left: 0 !important;}
       .frow .col2 { width: 100%; }
  }

