

.loader-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 500;
  top: 0;
}
.loader-wrapper .loader-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}
.loader-wrapper .loader-index:after {
  content: "";
  width: 4em;
  height: 4em;
  background: #F06322;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-animation: grow 2s cubic-bezier(0.14, 0.05, 0.55, 0.5) infinite
    alternate;
  animation: grow 2s cubic-bezier(0.14, 0.05, 0.55, 0.5) infinite alternate;
}
.loader-wrapper .loader-index span {
  width: 2em;
  height: 2em;
  background: #F06322;
  border-radius: 50%;
  margin-right: 2em;
  position: relative;
  -webkit-transform: translateX(7em);
  transform: translateX(7em);
  -webkit-animation: move 4s ease-in-out infinite;
  animation: move 4s ease-in-out infinite;
}
.loader-wrapper .loader-index span:before {
  content: "";
  width: 2em;
  height: 2em;
  background: #F06322;
  border-radius: 50%;
  position: absolute;
  left: 3em;
  -webkit-transform: translateX(0em);
  transform: translateX(0em);
  -webkit-animation: shrink 2s ease-in-out infinite;
  animation: shrink 2s ease-in-out infinite;
}
.loader-wrapper .loader-index span:after {
  content: "";
  width: 2em;
  height: 2em;
  background: #F06322;
  border-radius: 50%;
  position: absolute;
  right: 3em;
  -webkit-transform: translateX(0em);
  transform: translateX(0em);
  -webkit-animation: shrink 2s ease-in-out infinite;
  animation: shrink 2s ease-in-out infinite;
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: #F3E38C;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #F06322;
  }
}
@keyframes grow {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: #46D0EA;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #F3E38C;
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(7em);
    transform: translateX(7em);
  }
  50% {
    -webkit-transform: translateX(-5em);
    transform: translateX(-5em);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(7em);
    transform: translateX(7em);
  }
  50% {
    -webkit-transform: translateX(-5em);
    transform: translateX(-5em);
  }
}
@-webkit-keyframes shrink {
  0% {
    -webkit-transform: translateX(0em);
    transform: translateX(0em);
  }
  50% {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
  }
}
@keyframes shrink {
  0% {
    -webkit-transform: translateX(0em);
    transform: translateX(0em);
  }
  50% {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
  }
}
.loader-wrapper svg {
  width: 0;
  height: 0;
}
.loader-wrapper body {
  font-family: sans;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  background: black;
}
.loader-wrapper h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 2em;
  letter-spacing: 3px;
  position: relative;
  z-index: 2;
}
.loader-wrapper h1:before {
  position: absolute;
  content: "";
  height: 1px;
  background: -webkit-gradient(linear,left top,right top,from(#F3E38C),color-stop(#46D0EA),to(#F06322));
  background: linear-gradient(to right,var(#F3E38C,var(#F06322,#46D0EA)));
  color: #fff;
  top: 2.75em;
  left: 0.75em;
  width: 2.5em;
  font-weight: 400;
  font-variant: small-caps;
  font-size: 0.5em;
}
.loader-box {
  height: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
}
