
  #sec2 {
    background-color: #CCC;
  }
  
  #sec4 {
    background-color: #666;
  }
  
  #fp-nav ul li a span {
    background-color: #ED1234;
  }
  
  .fp-slidesNav ul li a span {
    background-color: #fff;
  }
  
  
  .slide {
    text-align: center;
    color: #fff;
  }