
:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-red: #DA575E;
    --color-gray: rgba(229, 229, 229, 0.52);
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: var(--color-dark);
  }

.logo_emi{
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 35px;
    left: 5vw;
    top: 35px;
    
    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

.icon_menu > img{
    position: fixed;
    z-index: 100;
    width: 80px;
    height: 50px;
    top: 30px;
    right: 5vw;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));

  }

  
  .line_redes{
    position: fixed;
    z-index: 100;
    height: 15%;
    width: 5px;
    left: 5.5%;
    bottom: 0px;

    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  .logo_facebook{
    position: absolute;
    z-index: 100;
    width: 26px;
    height: 27px;
    left: 4.7vw;
    bottom: 17%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  .logo_instagram{
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    left: 5vw;
    bottom: 22%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      }

  .logo_twitter{
    position: absolute;
    z-index: 100;
    width: 18px;
    height: 16px;
    left: 5vw;
    bottom: 27%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  .logo_link{
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 19px;
    left: 5vw;
    bottom: 32%;

    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }


/* ---------------- SCROLL PAGES------------ */
  .pages {
    height: 100vh;
    color: white;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
 }
  .page {
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: bottom 0.9s;
 }
  .page:first-child {
    bottom: 0;
 }
  
  .pagination {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
 }
  .pagination > li {
    list-style: none;
    height: 3px;
    width: 40px;
    background: #fff;
    margin-top: 40px;
    transition: background 0.7s;
    cursor: pointer;
 }
  .pagination > li.active {
    background: #fff;
    transform: translateX(-50%);
 }
  .title {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
 }
/* ------------FIN SCROLL PAGE------ */


  /*--------- BURBUJAS------- */
 .burbujas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  backdrop-filter: blur(3px);


}

canvas {
  width: 100%;
  height: 100vh;
}
/*--------- FIN BURBUJAS------- */

/* ...........................TOP...................................... */

  .titulo{
    margin-top: 10%;
    margin-left: 12%;
    width: 40vw;
    }

  .titulo h1{
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 22px;
    font-size: 15vh;
  
    color: #FFFFFF;
    text-shadow: black 0.1em 0.1em 0.2em;

    /* animation: 2s main-content 0.5s ease-in-out; */

  }
  
  .titulo p{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;

    color: var(--color-light);
    text-shadow: black 0.1em 0.1em 0.2em;

   /*  animation: 2s main-content 0.9s ease-in-out; */
  }

  .line_red1 {
    background-color: var(--color-red); 
    width: 20%;
    height: 4px;
    right: 0px;
    border-radius:80px;

    border-color: var(--color-red);

  /*   animation: 2s main-content 0.7s ease-in-out; */
    
  }
  
  .line_red2 {
    background-color: var(--color-red); 
    width: 20%;
    height: 4px;
    border-radius:80px;

    margin-left: 10%;
    margin-top: 2vh;
    border-color: var(--color-red);

    /* animation: 2s main-content 0.7s ease-in-out; */
   
  }

  .nosotros{
    margin-top: 10%;
    margin-left: 12%;
    width: 40vw;

    }

  .nosotros h1{
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 22px;
    font-size: 15vh;
  
    color: #FFFFFF;
    text-shadow: black 0.1em 0.1em 0.2em;

    /* animation: 2s main-content 0.5s ease-in-out; */

  }
  
  .nosotros p{
    font-family: 'Hind Madurai', sans-serif;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;

    color: var(--color-light);
    text-shadow: black 0.1em 0.1em 0.2em;

   /*  animation: 2s main-content 0.9s ease-in-out; */
  }

  
  .boton_temp{
    font-family: 'Hind Madurai', sans-serif;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    
    width: 40%;
    letter-spacing: 0.1em;
    background-color: var(--color-red);
    padding: 18px 32px;
    border-radius: 50px;
    
  
    color: #FFFFFF;
    
  }


  .team{
    position:absolute; 
    z-index: -1;
    top: 12%;
    right:5%;
    width: 50%; 
    height: 70%;
  }
  
  .numeracion{
    position: absolute;
    right: 20px;
    bottom: -110px;
    z-index: 1;
    font-size: 160px;
  }

  .portafolio{
    margin-left: 12%;
    width: 40vw;

    }

    .portafolio h1{
      font-family: 'Hind Madurai', sans-serif;
      letter-spacing: 10px;
      font-size: 15vh;
    
      color: #FFFFFF;
      text-shadow: black 0.1em 0.1em 0.2em;
  
      /* animation: 2s main-content 0.5s ease-in-out; */
  
    }
    
    .portafolio p{
      font-family: 'Hind Madurai', sans-serif;
      width: 80%;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 500;
  
      color: var(--color-light);
      text-shadow: black 0.1em 0.1em 0.2em;
  
     /*  animation: 2s main-content 0.9s ease-in-out; */
    }

    .empresas{
      position:absolute; 
      z-index: -1;
      top: 12%;
      right:5%;
      width: 50%; 
      height: 70%;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 100px;
      grid-gap: 20px;

      background-color:  white;

    }

    .empresas img{
      width: 22vw;
      height: 20vh;
    }

    
  @media screen and (max-width: 1030px) {
      .titulo {
        margin-top: 350px;
        margin-left: 9vh;
        width: 60vw;
    }

    .titulo h1{
      font-size: 8vh;
      letter-spacing: 15px;
    }
    .titulo p{
      font-size: 2vh;
    }
    .line_red2, .line_red1{
      width: 30%;
      height: 2px;
    }

    .nosotros {
      margin-top: 80%;
      margin-left: 9vh;
      width: 60vw;
  }

  .nosotros h1{
    font-size: 8vh;
    letter-spacing: 1px;
    width: 100%;
  }
  .nosotros p{
    font-size: 2vh;
    width: 100%;
    text-align: justify;
  }

  .boton_temp{
    padding: 12px 15px;
    font-size: 15px;
    border-radius: 20px;
    width: 100%;
  }

  .team{
    left: 6vh;
    top: 14%;
    width: 80%; 
    height: 30%;
  }

  .pagination{
   top: 80%;
  }
  .pagination > li{
    width: 10px;
    height: 10px;
    margin-top: 20px;
  }
  .pagination > li.active {
    transform: scale(1.5);
 }

 .numeracion{
   display: none;
 }

 .portafolio {
  margin-top: 80%;
  margin-left: 9vh;
  width: 60vw;
}

.portafolio h1{
font-size: 8vh;
letter-spacing: 1px;
width: 100%;
}
.porfafolio p{
font-size: 2vh;
width: 100%;
text-align: justify;
}

  }

  
  @keyframes main-content{
    0% { transform: translateX(-600px); }
    100% { transform: translateX(0); }
  }

  @keyframes top-content{
    0% { transform: translateY(-600px); }
    100% { transform: translateY(0); }
  }

  @keyframes bottom-content{
    0% { transform: translateY(600px); }
    100% { transform: translateY(0); }
  }
  
  .buttons{
    position: absolute;
    top: 50vh;
    left: 8vw;
  }

  .view {
   
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .view .mask {
    left: 4vw;
    width: 45%;
    top: 0;
    right: 0;
    position: absolute;
   
  }

  .view a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-top: 12px;
  }
  .view h1 {
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 3px;
    color: #fff;
    font-size: 17px;
    text-align: left;
  }
  
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: var(--color-red);
    color: #fff;
    box-shadow: 0 0 1px #000;

    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 90vh;
    color: #FFFFFF;
  }
  
  
  .view-first .mask {
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  
  .view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .view-first:hover .mask {
    opacity: 1;
  }
  
  .view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
  }
  
  
  @media screen and (max-width: 1030px) {
    .buttons{
      position: sticky;
      margin-top: -50px;
      left: 15vw;
      width: 50%;
    }

    .buttons a{
      font-size: 12px;
    }

    .view h1{
      font-size: 5px;
    }
    .view{
      margin-top: -5px;
    }
    
  }

  /* PHONEEEEEEE */


  .image {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: block;
 }
  .image img {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 600px;
    width: 100%;
    height: auto;
    animation: float 6s ease-in-out infinite;
 }
  .image-pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 600px;
    height: 600px;
    border-radius: 100%;
 }
  .image-pulse span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
 }
  .image-pulse span:before, .image-pulse span:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    animation: pulse 3s ease-in-out infinite;
 }
  .image-pulse span:first-child:before {
    animation-delay: 1s;
 }
  .image-pulse span:first-child:after {
    animation-delay: 1.5s;
 }
  .image-pulse span:last-child:before {
    animation-delay: 0s;
 }
  .image-pulse span:last-child:after {
    animation-delay: 0.5s;
 }
  @keyframes float {
    0% {
      filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
      transform: translatey(0px) rotateZ(0deg);
   }
    50% {
      filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
      transform: rotateX(30deg) rotateY(0deg) rotateZ(-10deg);
   }
    100% {
      filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
      transform: translatey(0px) rotateZ(0deg);
   }
 }
  @keyframes pulse {
    from {
      width: 0;
      height: 0;
      border-color: rgba(255, 255, 255, 1);
   }
    to {
      width: 100%;
      height: 100%;
      border-color: rgba(255, 255, 255, 0);
   }
 }

